---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
import BlogPreview from "../components/BlogPreview/index.jsx";
---

<html lang="en">
  <head>
    <MainHead title="All Blogs" description="All Blogs" />
    <style lang="scss">
      .sectionTitle {
        font-weight: 700;
        font-size: var(--f-u8);
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .sectionSubTitle {
        font-weight: 700;
        font-size: var(--f-u4);
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper mt4 mb4">
      <div class="section">
        <h3 class="sectionTitle">Welcome to my Blog</h3>
        <p>
          Hey, I'm glad you found this page. Feel free to checkout my two blogs,
          one with tech related topics and the other one about my hobbies and
          more. If you find an error or outdated entries, feel free to contact
          me.
        </p>
      </div>

      <div class="section">
        <h2 class="sectionSubTitle">
          <a href="/blog/tech/">Tech-Blog</a>
        </h2>
        <p>My blog about tech related topics</p>
      </div>

      <div class="section">
        <h2 class="sectionSubTitle">
          <a href="/blog/non-tech/">Non-Tech-Blog</a>
        </h2>
        <p>My blog of random entries from other hobbies/thoughts</p>
      </div>
    </div>

    <Footer />
  </body>
</html>
