---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">
  <head>
    <MainHead title="Contact" description="Contact" />
    <style lang="scss">
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>Contact</h1>
      <div class="heroImg">
        <img width="1400" height="350" src="/assets/background.png" />
      </div>
      <div class="bio wrapper wrapper__readable mt8">
        <h2>E-Mail</h2>
        <p>
          Do you want to get more information about me or do you have any
          questions? Then do not hesitate and send me an e-mail and I will
          answer you as fast as I can.
          <br />
          Contact: weinstock.dev[at]mailbox.org
        </p>
      </div>
    </div>
    <Footer />
  </body>
</html>
