---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Footer from "../components/Footer/index.jsx";
import BlogPreview from "../components/BlogPreview/index.jsx";
import resume from "../data/resume.json";
import { format } from "date-fns";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Erik Weinstock"
      description="Erik Weinstock: Software Engineer"
    />
    <style lang="scss">
      $w-s: 750px;

      .work-history {
        list-style: none;
        padding-left: 0;
      }

      .work-history li {
        margin-bottom: 2em;
      }

      .work-history p {
        border-left: white solid 2px;
        padding-left: 1em;
      }

      .hero {
        position: relative;
        overflow: hidden;

        @media (min-width: $w-s) {
          height: 25vw;
        }
      }

      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2rem;

        @media (min-width: $w-s) {
          padding-left: 4rem;
        }
      }

      .title {
        font-weight: 900;
        font-size: var(--f-u8);
        margin-bottom: 0.5rem;
        margin-top: 0;

        @media (min-width: $w-s) {
          font-size: var(--f-u12);
        }
      }

      .sectionTitle {
        font-weight: 700;
        font-size: var(--f-u8);
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .role {
        position: relative;
        display: inline-block;
        font-weight: 900;
        color: var(--t-bg);
        background-color: var(--t-fg);
        padding: 0.25em 0.5em;
        z-index: 2;
        margin-right: 1em;
        margin-bottom: 1em;

        @media (min-width: $w-s) {
          font-size: var(--f-u3);
        }

        &:nth-of-type(1) {
          .invert {
            background-color: var(--c-blue);
          }
        }

        &:nth-of-type(2) {
          .invert {
            background-color: var(--c-yellow);
          }
        }

        &:nth-of-type(3) {
          .invert {
            background-color: var(--c-green);
          }
        }

        &:hover {
          .invert {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          }
        }
      }

      .invert {
        position: absolute;
        color: var(--t-fg);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
        transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
      }

      .desc {
        font-size: var(--f-u2);
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      .subtitle {
        display: block;
        font-weight: 400;
        font-size: var(--f-d6);
        letter-spacing: -0.0625em;
      }

      .bio {
        line-height: 2;
        margin-bottom: 2rem;

        > span:first-of-type {
          line-height: 1;
          margin-bottom: 0.5em;
          display: block;
          font-weight: 700;
          font-size: var(--f-u4);
        }
      }
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <img width="1600" height="1131" class="img" src="/assets/background.png"
      />
      <div class="overlay">
        <h1 class="title">
          <small class="subtitle">The personal site of</small>Erik Weinstock
        </h1>
        <div>
          <span class="role"
            >Software Engineer <span class="invert">Software Engineer</span>
          </span>
          <span class="role"
            >Open Source Enthusiast<span class="invert"
              >Open Source Enthusiast
            </span>
          </span>
          <span class="role"
            >Linux Believer<span class="invert">Linux Believer</span>
          </span>
        </div>
        <p class="desc">Lover of Diving, Boxing and Brewing</p>
      </div>
    </header>
    <main class="wrapper mt4 mb4">
      <div class="center">
        <div class="section">
          <h3 class="sectionTitle">About me</h3>
          <p class="bio">
            {resume.basics.summary}
          </p>
        </div>
        <div class="section">
          <h3 class="sectionTitle">Work History</h3>
          <ul class="work-history">
            {resume.work.map((job) => (
              <li>
                <h4>
                  {job.position} @ <a href={job.url}>{job.name}</a>
                </h4>
                <p>
                  {format(new Date(job.startDate), "MMM yyyy")} →{" "}
                  {job.endDate
                    ? format(new Date(job.endDate), "MMM yyyy")
                    : "Present"}
                  <br />
                  {job.summary}
                </p>
              </li>
            ))}

            <li>
              <a href="/resume/index.html">Full Resume</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
