---
import MainHead from "../../../components/MainHead.astro";
import Footer from "../../../components/Footer/index.jsx";
import Nav from "../../../components/Nav/index.jsx";
import BlogPreview from "../../../components/BlogPreview/index.jsx";

const blogEntries = (await Astro.glob("./*.md"))
  .filter(({ frontmatter }) => !!frontmatter.date)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<html lang="en">
  <head>
    <MainHead title="Non-Tech-Blog" description="Non-Tech-Blog" />
    <style lang="scss">
      .grid {
        display: grid;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1 class="title mt4 mb4">All Entries</h1>
      <div class="grid">
        {blogEntries.map((entry) => <BlogPreview entry={entry} />)}
      </div>
    </div>
    <Footer />
  </body>
</html>
